header.nav-header {
    margin: 3rem 0;
    user-select: none;
    
    nav.nav-links a {
        color: var(--txt-grey);
        font-size: 1.25rem;
        font-weight: 500;
        margin: 0 1rem 0 0;
        text-decoration: none;
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
        transition: color 0.2s ease;

        &.active {
            background: var(--bg-fade);
            color: #fff;
        }

        &:hover {
            color: #fff;
        }
    }
}

.root {
    section {
        background: transparent;

        &.crayola {
            background-color: var(--crayola);
        }

        div.root-block {
            max-width: 57rem;
            margin: 0 auto;
            padding: 0 2rem;
        }
    }
}
/*
<header className="nav-header">
            <nav className="nav-links">
                <Link href="/">Work</Link>
                <Link href="/blog">Blog</Link>
                <Link href="/about">About</Link>
            </nav>
        </header>
*/