.flex {
    display: flex;

    &.justify-center {
        justify-content: center;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.align-stretch {
        align-items: stretch;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}