:root {
    --bg: #0f0f17;
    --bg-fade: #1b1b27;

    --txt-grey: #656577;
    --txt-black: #181b37;
    --txt-sub: #848f9d;

    --primary: #f5cb5c;
    --secondary: #eff2f4;

    --card-dark: #331690;
    --card-light: #f5f5fe;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--bg);
    color: #fff;
    line-height: 1.3;
    font-family: 'Rubik', sans-serif;
}

*, ::before, ::after {
    box-sizing: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
}

::selection {
    background-color: var(--primary);
    color: var(--bg);
}

.root {
    .big {
        font-size: 4rem;

        &.subtitle {
            font-size: 1.9rem;
        }
    }
}