#root-home {
    img.design-logo {
        height: 15rem;
        width: 15rem;
        border-radius: 0.5rem;
        user-select: none;
    }
    
    .biography {
        font-weight: 600;

        h1 {
            margin: 0;
        }
        
        p {
            margin: 1rem 0 0 0;
            max-width: 65%;
        }
    }

    .socials {
        margin: 2rem 0 0 0;

        i {
            font-size: 2.5rem;
            margin: 0 2rem 0 0;
            color: #fff;
            text-decoration: none;
            transition: color 0.2s ease;

            &:hover {
                color: var(--primary);
            }
        }
    }

    .work {
        margin: 2rem 0 1rem 0;    
    }

    .card {
        border-radius: 1rem;
        background-color: var(--primary);
        padding: 0 3rem;
        margin: 1rem 0 0 0;
        overflow: hidden;


        .card-left, .card-right {
            flex: 0 0 50%;
        }

        .card-left {
            margin: 5rem 0;

            img {
                height: 5rem;
                width: 5rem;
                border-radius: 0.5rem;
                object-fit: center;
            }
    
            p {
                margin: 1rem 0;
                font-weight: 500;
            }
    
            h1 {
                font-size: 3rem;
                margin: 0;
            }
    
            div.flex {
                margin: 1rem 0 0 0;
    
                a {
                    margin: 0 1rem 0 0;
                    color: #fff;
                    font-size: 1.25rem;
                    font-weight: 500;
                    text-decoration: none;
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.5rem;
                    user-select: none;
                    background-color: rgba(0, 0, 0, 0.3);
                    transition: background-color 0.2s ease;
    
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }

        .card-right {
            position: relative;

            img {
                width: 20rem;
                position: absolute;
                bottom: -8rem;
                transform: rotate(10deg);
                user-select: none;
                pointer-events: none;
                transition: transform 0.3s ease;
            }
        }

        &:hover .card-right img {
            transform: rotate(5deg);
        }
    }
    
    /*
    <article className="card">
          <img src="https://avatars0.githubusercontent.com/u/74814006?s=200&v=4" alt="Archway Logo"/>
          <p>2020 · Archway · Personal Project</p>
          <h1>Making a toy web framework like React</h1>
          <div className="flex">
            <a href="#">Website</a>
            <a href="#">Github</a>
          </div>
        </article>
    */

    footer {
        padding: 3rem 0;

        span {
            a {            
                color: #fff;
                text-decoration: none;

                i {
                    margin: 0 1rem 0 0;
                    transition: transform 0.2s ease;
                }

                &:hover {
                    i {
                        transform: translate(0.5rem, -0.5rem);
                    }
                }
            }
        }
    }
}

/*
<footer className="flex justify-between">
          <span>© 2020 Nathan Pham</span>
          <span>
            <i className="fas fa-paper-plane"></i>
            <a href="mailto:nathanpham.me@gmail.com">nathanpham.me@gmail.com</a>
          </span>
        </footer>
*/
