.root {
    font-family: 'Rubik', sans-serif;

    .title-font {
        font-family: Ilisarniq, sans-serif;
    }

    .big {
        font-size: 4rem;

        &.subtitle {
            font-size: 1.9rem;
        }
    }

    .link {
        color: var(--primary);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    #cursor {
        position: fixed;
        z-index: 20;
        height: 1.5rem;
        width: 1.5rem;
        background: #fff;
        border-radius: 50%;
        pointer-events: none;
        mix-blend-mode: exclusion;
        transform: translate(-50%, -50%);
        transition-property: left, top, opacity, transform;
        transition: all 0.1s ease-out,
                    width 0.3s ease,
                    height 0.3s ease;
    }
}