#root-about {
    font-size: 1.1rem;

    .hero {
        margin: 0;

        /*
        background-image: url(img.jpg);
        background-position: center top;
        background-size: 100% auto;
        */

        .hero-image {
            max-width: 100%;
            min-height: 75vh; 
            background-color: var(--bg-fade);
            background-image: url("/images/hero.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            border-radius: 0.25rem;
        }

        figcaption {
            margin: 1rem 0;
            color: var(--txt-grey);
            font-size: 1.1rem;
        }
    }

    h1 {
        margin: 2rem 0;
    }

    p {
        s {
            text-decoration: line-through;
        }
    }

    .resume {
        padding: 2rem;
        background: var(--bg-fade);
        border-radius: 0.5rem;
        margin: 2rem 0;
    }

    .blog-post {
        text-decoration: none;
        color: #fff;
        flex: 0 0 calc(50% - 1rem);
        transition: transform 0.2s ease;

        img {
            width: 100%;
            border-radius: 0.5rem;
        }

        h2 {
            margin: 1rem 0;
        }
        
        p {
            margin: 0;
            color: var(--txt-grey);
        }

        &:hover {
            transform: scale(1.025);
        }
    }
}